{% extends "base.html" %}
{% block main %}
    <div class="block">
     <h1>Welcome!</h1>
        <form hx-post="/api/update" hx-target="#output">
            <label for="name">Tell me your name:</label><br>
            <input type="text" id="name" name="name">
            <button type="submit">Skicka</button>
        </form>
        <div id="output" hx-swap="outerHTML"></div>
    </div>

    <!--Testar class block-->
    <div class="block"><p>testing... </p> </div>

    <!-- testar .block -->
    <h2>h2 utan block</h2>
    <h2 class="block">h2 med block</h2>
{% endblock %}