.block {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    height: auto;
    outline: solid 2px chartreuse;
    background-color: rgba(83, 79, 79, 0.8);
}


h1, h2, h3 {        
    padding: 2px 16px;
}


body {
    background-color: rgb(42, 41, 41);
    margin: 0px;
    color: antiquewhite;
    text-align: left;
}

p {
    text-align: left;
    background-color: rgba(83, 79, 79, 0.3);
    padding: 2px 16px;
}

form {
    background-color: rgba(83, 79, 79), 0.6;
    padding: 2px 16px;
}

input {
    background-color: #333;
    color: antiquewhite;
    padding: 2px 22px;
}

button {
    border-color: chartreuse;
    border-radius: 12%;
    background-color: #333;
    color: antiquewhite;
    padding: 2px 22px;
    margin-left: 22px;
}

body.bg {
    background-image: url("../image/bg_potter.png");
  }

body.sallad{
    background-image: url("../image/sallad.png");
    background-repeat: no-repeat;
    background-position: top, center;
  }